@import url("https://fonts.googleapis.com/css?family=Chivo|Roboto:500&display=swap");

:root {
  --highlightColor: #71fff1;
  --textColor: #effdff;
  --backgroundColor: #070707;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Chivo", sans-serif;
  background: var(--backgroundColor);
  color: var(--textColor);
}
svg{
  height: 50%;
  width: 50%;
  float: left;
  margin: auto;
}

.maintenance-wrap {
  /* max-width: 50%; */
  padding-top: 20%;
}

.maintenance-content h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: -0.5px;
}
.maintenance-content p {
  color: var(--highlightColor);
}
.maintenance-content footer {
  font-size: 1rem;
  color: var(--textColor);
}
.maintenance-content a {
  background: linear-gradient(
    to bottom,
    var(--highlightColor) 0%,
    var(--highlightColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  color: rgba(231, 231, 231, 0.7);
  text-decoration: none;
}
.maintenance-content a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%2371fff1' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 2px;
  background-repeat: repeat-x;
  text-decoration: none;
}
